body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

body {
    background: #272727;
    padding: 10px;
}

.terminal {
    background: #151515;
    box-sizing: border-box;
    width: 550px;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    text-align: left;
    font-family: monospace;
    white-space: normal;
    overflow: hidden;
}
.terminal .line-1 {
    color: #fff;
}

.terminal .line-2 {
    color: #dc143c;
}
